{% extends "resume/home/base.html" %}
{% block title %}
    {{ user.username }} Profile
{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <h1>This is the profile page for {{ user.username }}</h1>
        <p>
            Groups:
            {% for group in user_groups %}
                {% if forloop.last %}
                    {{ group }}
                {% else %}
                    {{ group }},
                {% endif %}
            {% endfor %}
        </p>
    </div>
{% endblock content %}
